/* FONTS */
/* inconsolata-regular - latin */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('../styles/fonts/inconsolata-v21-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../styles/fonts/inconsolata-v21-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../styles/fonts/inconsolata-v21-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../styles/fonts/inconsolata-v21-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('../styles/fonts/inconsolata-v21-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../styles/fonts/inconsolata-v21-latin-regular.svg#Inconsolata')
			format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('../styles/fonts/oswald-v36-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../styles/fonts/oswald-v36-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../styles/fonts/oswald-v36-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../styles/fonts/oswald-v36-latin-regular.woff') format('woff'),
		/* Modern Browsers */
			url('../styles/fonts/oswald-v36-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../styles/fonts/oswald-v36-latin-regular.svg#Oswald')
			format('svg'); /* Legacy iOS */
}

body {
	margin: 0;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: hidden;
}

.animation {
	position: absolute;
	z-index: 10000;
	background-color: #161616;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
}

.forest {
	width: 100vw;
	height: 100vh;
}

.panel {
	color: white;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	overflow-x: hidden;
}

.panels {
	font-size: 3em;
	background-color: #161616;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

@keyframes animate {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	25% {
		transform: scaleX(0.5);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: left;
	}
	50.1% {
		transform: scaleX(1);
		transform-origin: right;
	}
	75% {
		transform: scaleX(0.5);
		transform-origin: right;
	}

	80% {
		transform: scaleX(0.8);
		transform-origin: right;
	}

	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}

.tester {
	width: 100%;
	height: 100%;
}

.test {
	height: 100vh;
}

.main {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
.surround {
	flex-direction: column;
	align-items: center;
	display: flex;
	padding: 1rem 5rem 0rem 5rem;
	margin: 0 auto;
}

.blackBox {
	position: absolute;
	z-index: 1006;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	outline: none;
	background-color: #161616;
	opacity: 1;
}
#firsty {
	width: 100vw;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding-top: 1.5em;
}

.infoblock {
	font-size: 2rem;
	flex-direction: column;
	font-family: 'Inconsolata', 'Oswald', sans-serif;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 1em;
	width: 55%;
	background-color: #e2e2e2;
	z-index: 9999;
	box-shadow: 0.5rem 0 4rem -1rem rgb(0 0 0 / 55%);
	color: black;
	line-height: 1.5em;
	font-weight: 900;
	position: relative;
	left: 23%;
	top: -22rem;
}

.infoblock span:nth-of-type(1) {
	margin-bottom: 0.4em;
	font-size: 2.5rem;
	font-weight: 900;
}

.infoblock span:nth-of-type(2) {
	font-size: 3.5rem;
	font-family: 'Oswald';
	font-weight: 900;
}

.infoblock span:nth-of-type(3) {
	margin-top: 0.5em;
	font-size: 2rem;
	font-weight: bolder;
}

.infoblock span:nth-of-type(4) {
	margin-top: 0.5em;
	font-size: 1.3vw;
	font-weight: 400;
	white-space: nowrap;
	display: flex;
	letter-spacing: 0.1em;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;

	max-width: 1440px; /* 2 */

	padding-right: 10px; /* 3 */
	padding-left: 10px; /* 3 */
}

.infoblock span:nth-of-type(5) {
	margin-top: 1em;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1em;
}

.infoblock span:nth-of-type(6) {
	margin-top: 1.2em;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1em;
	display: flex;
	justify-content: center;
}

.menuFirst {
	position: relative;
	outline: none;
	width: 95%;
	height: auto;
	display: flex;
	align-items: center;
}

/* .menuFirst {
	background-image: url('../images/background/4.jpg');
	background-repeat: no-repeat;
	position: relative;
	background-size: 160%;
	background-position: left top;
	animation: slide 150s linear infinite;
	transform: translate3d(0, 0, 0);
	outline: none;
	height: 75vh;
	width: 100%;
	display: flex;
	align-items: center;
} */

.smallScreen {
	width: 100%;
	height: 100%;
}

.smallScreen .innermenu {
	width: 100%;
	height: 100%;
}

.innermenu {
	top: 0;
	opacity: 0;
	z-index: 1002;
	width: 100%;
	height: 100%;
}

@keyframes slide {
	0% {
		background-position: left top;
	}
	25% {
		background-position: right top;
	}
	50% {
		background-position: right bottom;
	}
	75% {
		background-position: left bottom;
	}
	100% {
		background-position: left top;
	}
}

.navMenu {
	font-family: 'Oswald', 'Inconsolata', sans-serif;
	font-size: 64px;
	font-weight: 1000;
	position: absolute;
	width: auto;
	height: 55%;
	background-color: transparent;
	bottom: 0;
	right: 0;
	opacity: 0;
	display: none;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	box-sizing: border-box;
	padding: 1em 1em;
	transform-origin: bottom right;
}

.smallMenuErase.navMenu {
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	width: 100%;
	height: 100%;
	display: block;
	z-index: 99999;
	position: fixed;
}

.boxedIn:hover {
	cursor: pointer;
	color: #ffb800;
}

.boxedIn {
	width: auto;
	cursor: pointer;
	transform-origin: left;
}

.line1 {
	width: 100%;
}

.line2 {
	width: 100%;
}

.line3 {
	width: 100%;
}

.line4 {
	width: 100%;
}

.underline {
	display: block;
	position: relative;
	bottom: 0;
	left: 0;
	width: 0;
	height: calc(1px);
	background-color: #ffb800;
}

.imagebox {
	margin-right: 0.3em;
	margin-bottom: 0.1em;
}

.smallMenuErase .naver span {
	vertical-align: middle;
}

.imagebox {
	width: 4rem;
	vertical-align: middle;
}

.naver {
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: 2em;
	margin-left: 1em;
	width: 100%;
}

.smallMenuErase .stagger li {
	margin-top: 1em;
}

.naver li {
	list-style: none;
	font-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	color: #aaa5a5;
	width: auto;
}

.naver ul {
	padding: 0.1em;
	width: auto;
}

.naver ul li:first-child {
	margin-top: 0.5em;
}

.boxShadow {
	position: absolute;
	width: 101%;
	height: 101.5%;
	background-color: #161616;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	filter: blur(8px);
}

@keyframes bigShadow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.3;
	}
}

.sec1 {
	margin-top: 0;
}

.bigShadowanime {
	animation-name: bigShadow;
	animation-fill-mode: forwards;
	animation-duration: 4s;
}

.yellow {
	background-color: #161616;
}

.black {
	background-color: #161616;
}

.navbar {
	position: fixed;
	z-index: 100;
}

.big {
	opacity: 1;
	display: block;
}

.gone {
	display: none;
}

.small {
	opacity: 1;
	display: block;
}

/* HOVER */
.hvr-grow {
	display: flex;
	vertical-align: middle;
	width: auto;
	font-family: 'Oswald';
}

.hvr-grow span {
	text-align: center;
}

/* new Menu */

/* bouncing arrow */

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounceUp {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-moz-transform: translateY(30px);
		-ms-transform: translateY(30px);
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	60% {
		-moz-transform: translateY(15px);
		-ms-transform: translateY(15px);
		-webkit-transform: translateY(15px);
		transform: translateY(15px);
	}
}

body {
	background: black;
}

.arrow {
	opacity: 0;
	position: fixed;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	background-image: url(../images/arrow.svg);
	background-size: contain;
	z-index: 9999999999;
}

.arrowtop {
	position: fixed;
	opacity: 0;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	background-image: url(../images/arrowtop.png);
	background-size: contain;
	z-index: 9999999999;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.bounceUp {
	-moz-animation: bounceUp 2s infinite;
	-webkit-animation: bounceUp 2s infinite;
	animation: bounceUp 2s infinite;
}

.navigation {
	cursor: pointer;
	z-index: 999999999;
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;
	margin: 0em;
}

.navigation:hover .danSymbol path {
	stroke: #ffb800;
	fill: #ffb800;
}

.borderRim {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	z-index: 999;
}

.borderRim2 {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	z-index: 999;
}

.danSymbol {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
}

/* hamburger */
.menuToggle {
	height: 100%;
	width: 100%;
}
/* temporary remove later just used for scroll trigger */
#two {
	height: 300vh;
}

#firsty {
	height: 60rem;
}
@media only screen and (min-width: 6001px) {
	@media screen and (orientation: portrait) {
		.smallScreen {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#firsty {
			width: 100vw;
		}
		.navigation {
			width: 10em;
			height: 10em;
			top: 5rem;
			left: 5rem;
			margin: 0em;
		}

		.innermenu {
			max-width: 1440px;

			box-sizing: content-box;
		}

		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 180px;
			font-weight: 1000;
			width: 25%;
			height: 13em;
			top: 0;
			left: 0;
			opacity: 0;
			justify-content: flex-start;
			align-items: center;
			z-index: 1;
			box-sizing: border-box;
			padding: 1em 1em;
			transform-origin: bottom right;
		}

		/* .blackblankfill {
			background-color: black;
			width: 100%;
			height: 100%;
		} */
	}

	@media screen and (orientation: landscape) {
		.navigation {
			width: 5em;
			height: 5em;
			cursor: pointer;
			z-index: 999999;
			position: fixed;
			top: 8rem;
			left: 8rem;
			margin: 0em;
		}

		.navMenu {
			width: 20.5%;
			font-size: 140px;
		}

		.innermenu {
			width: 100%;
			top: 0%;
			left: 0%;
		}

		.menuFirst {
			outline: none;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}

		#firsty {
			padding-top: 0;
		}
	}
}

@media only screen and (max-width: 6000px) {
	.naver {
		margin-top: 15rem;
		margin-left: 10rem;
	}

	.navigation {
		position: fixed;
		top: 8rem;
		left: 10rem;
		width: 12rem;
		height: 12rem;
	}
	@media screen and (orientation: portrait) {
		.smallScreen {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#firsty {
			width: 100vw;
		}
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 150px;
			font-weight: 1000;
			width: 25%;
			height: 13em;
			top: 0;
			left: 0;
			opacity: 0;
		}
		.innermenu {
			max-width: 1440px;
			box-sizing: border-box;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			width: 20.5%;
			font-size: 100px;
		}

		.innermenu {
			width: 100%;
		}
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}
	}
}

@media only screen and (max-width: 5000px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 140px;
			font-weight: 1000;
			width: 9em;
			height: 13em;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			width: 20.5%;
			font-size: 80px;
		}

		.innermenu {
			width: 100%;
		}
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}

		.navigation {
			position: fixed;
			top: 8rem;
			left: 8rem;
			width: 10rem;
			height: 10rem;
		}
	}
}

@media only screen and (max-width: 3840px) {
	.naver {
		margin-top: 20rem;
		margin-left: 15rem;
	}

	.navigation {
		position: fixed;
		top: 10rem;
		left: 10rem;
		width: 10rem;
		height: 10rem;
	}

	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 130px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
			top: 0;
			left: 0;
			opacity: 0;
			font-size: 64px;
		}

		.smallScreen {
			outline: none;
			width: 100%;
			height: 100%;
		}

		.innermenu {
			max-width: 1440px;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 64px;
		}

		.innermenu {
			width: 100%;
		}
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}
	}
}

@media only screen and (max-width: 3640px) {
	.navigation {
		position: fixed;
		top: 10rem;
		left: 10rem;
		width: 10rem;
		height: 10rem;
	}

	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 110px;
			font-weight: 1000;
			width: 9em;
			height: 12em;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}
}

@media only screen and (max-width: 3000px) {
	.navigation {
		position: fixed;
		top: 6rem;
		left: 6rem;
		width: 10rem;
		height: 10rem;
	}

	.boxedIn {
		width: 20%;
	}

	.naver {
		margin-top: 16rem;
		margin-left: 10rem;
	}

	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 90px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
			background-color: #161616;
			top: 0;
			left: 0;
			opacity: 0;
		}
		.innermenu {
			max-width: 1440px;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 56px;
		}

		.innermenu {
			width: 100%;
		}

		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}
	}
}

@media only screen and (max-width: 2400px) {
	.navigation {
		position: fixed;
		top: 6rem;
		left: 6rem;
		width: 7rem;
		height: 7rem;
	}

	.boxedIn {
		width: 25%;
	}

	.naver {
		margin-top: 11rem;
		margin-left: 8rem;
	}

	.naver ul li {
		margin-bottom: 5rem;
	}

	.navigation {
		top: 4rem;
		left: 4rem;
	}

	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 75px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.innermenu {
			max-width: 1440px;
		}
	}

	@media screen and (orientation: landscape) {
		.innermenu {
			width: 100%;
		}
		.navMenu {
			font-size: 40px;
		}
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}
	}
}

@media only screen and (max-width: 2040px) {
	.navigation {
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
		z-index: 999999;
		position: fixed;
		top: 3rem;
		left: 3rem;
	}
	@media screen and (orientation: portrait) {
		.smallSreen {
			width: 100%;
		}

		.innermenu {
			max-width: 1440px;
		}
	}

	@media screen and (orientation: landscape) {
		.innermenu {
			width: 100%;
		}

		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}

		#firsty {
			padding: 0;
		}
	}
}

@media only screen and (max-width: 2039px) {
	.navigation {
		position: fixed;
		top: 3rem;
		left: 4rem;
		width: 5rem;
		height: 5rem;
	}
	.naver {
		margin-top: 5rem;
		margin-left: 8rem;
	}

	@media screen and (orientation: landscape) {
		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.5rem;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}

		#firsty {
			margin-top: 2rem;
		}
	}
}

@media only screen and (max-width: 1920px) {
	.naver ul li {
		margin-bottom: 0.5rem;
	}

	.navigation {
		left: 3rem;
		width: 3.5rem;
		height: 3.5rem;
		top: 3rem;
	}

	.naver {
		margin-left: 4rem;
	}
	@media screen and (orientation: portrait) {
		.navMenu {
			font-family: 'Oswald', 'Inconsolata', sans-serif;
			font-size: 60px;
			font-weight: 1000;
			width: 27%;
			height: 11em;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.innermenu {
			max-width: 1440px;
		}

		.smallSreen {
			outline: none;
			position: relative;
			align-items: center;
			display: flex;
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		#firsty {
			margin-top: 0rem;
		}
		.navMenu {
			font-size: 37px;
		}

		.innermenu {
			width: 100%;
		}

		.infoblock span:nth-of-type(4) {
			margin-top: 0.5em;
			font-size: 1.3vw;
			font-weight: 400;
			white-space: nowrap;
			display: flex;
			letter-spacing: 0.1em;
		}
	}
}

@media only screen and (max-width: 1700px) {
	.naver {
		margin-left: 3rem;
	}
	.navigation {
		position: fixed;
		top: 3rem;
		left: 2rem;
		width: 3.5rem;
		height: 3.5rem;
	}

	.wrapper {
		padding-right: 10rem; /* 3 */
		padding-left: 10rem; /* 3 */
	}
	.navMenu {
		font-size: 50px;
		font-weight: 1000;
		width: 27%;
		height: 11em;
		top: 0;
		left: 0;
		opacity: 0;
	}

	@media screen and (orientation: portrait) {
		.innermenu {
			max-width: 1440px;
		}

		.smallSreen {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.menuFirst {
			width: 90%;
		}
		.surround {
			margin-top: 2.5rem;
		}
		#firsty {
			height: 50rem;
		}
	}
}

@media only screen and (max-width: 1600px) {
	@media screen and (orientation: portrait) {
		.innermenu {
			max-width: 1440px;
		}

		.smallSreen {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 32px;
		}
		.innermenu {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1540px) {
	@media screen and (orientation: portrait) {
		.innermenu {
			max-width: 1440px;
		}

		.smallSreen {
			width: 100%;
		}

		.navMenu {
			font-size: 50px;
			font-weight: 1000;
			width: 27%;
			height: 11em;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 27px;
		}

		.innermenu {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1440px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 50px;
			font-weight: 1000;
			width: 28%;
			height: 11em;
			background-color: #161616;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.innermenu {
			width: 100%;
		}

		.smallSreen {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 27px;
		}

		.innermenu {
			width: 100%;
		}

		.infoblock {
			background-color: transparent;
			color: #e2e2e2;
			box-shadow: none;
			top: -23rem;
			left: 20%;
		}
		#firsty {
			height: 48rem;
		}
	}
}

@media only screen and (max-width: 1366px) {
	.boxedIn {
		width: 30%;
	}

	.naver {
		margin-left: 2rem;
	}
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 45px;
			font-weight: 1000;
			width: 27%;
			height: 11em;
			background-color: #161616;
			top: 0;
			left: 0;
			opacity: 0;
		}
		.innermenu {
			width: 100%;
		}

		.smallSreen {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.innermenu {
			width: 100%;
		}

		#firsty {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

@media only screen and (max-width: 1280px) {
	.navigation {
		width: 5rem;
		height: 5rem;
	}
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 40px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	@media screen and (orientation: landscape) {
		#firsty {
			height: 40rem;
		}
		.navMenu {
			font-size: 27px;
		}

		.naver li {
			margin-left: 0.2em;
		}

		.infoblock {
			left: 15%;
			top: -24rem;
		}
	}
}

@media only screen and (max-width: 1100px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 35px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.innermenu {
			width: 100vw;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 24px;
		}

		.infoblock {
			width: 32rem;
		}

		#firsty {
			height: 34rem;
		}
	}
}

@media only screen and (max-width: 1024px) {
	@media screen and (orientation: landscape) {
		.innermenu {
			width: 100vw;
		}
		.surround {
			padding: 0;
			width: 100%;
			position: relative;
			margin: 0;
		}

		#firsty {
			padding: 0;
			margin: 0;
		}

		.menuFirst {
			width: 100%;
			height: auto;
		}

		.innermenu {
			width: 100%;
			height: auto;
		}

		.infoblock {
			position: absolute;
			right: 0%;
			bottom: auto;
			left: auto;
			top: -2%;
			padding: 3rem;
			height: 34rem;
		}

		.infoblock {
			display: flex;
			justify-content: space-between;
		}
	}
}

@media only screen and (max-width: 999px) {
	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 20.8px;
		}

		.infoblock {
			height: 34rem;
		}
	}
}

@media only screen and (max-width: 980px) {
	@media screen and (orientation: landscape) {
		.infoblock {
			height: 100%;
		}

		.surround {
			height: 32rem;
		}

		.navigation {
			top: 3%;
		}
	}
}

@media only screen and (max-width: 960px) {
	.navigation {
		top: 1rem;
		left: 2rem;
	}
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 30px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 17.6px;
		}

		.infoblock span:nth-of-type(4) {
			font-size: 0.8rem;
		}

		.suround {
			height: auto;
		}

		.infoblock {
			height: 32rem;
		}
	}
}

@media only screen and (max-width: 920px) {
	.boxedIn {
		width: 30%;
	}
	@media screen and (orientation: landscape) {
		.infoblock {
			height: 100%;
		}

		.surround {
			height: 30rem;
		}
	}
}

@media only screen and (max-width: 850px) {
	@media screen and (orientation: landscape) {
		.infoblock {
			height: 100%;
		}

		.surround {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28rem;
		}

		.infoblock {
			height: auto;
			width: 44rem;
			top: 6%;
			padding: 1.5rem;
		}
		.menuFirst {
			top: 0%;
			left: 0%;
		}
	}
}

@media only screen and (max-width: 800px) {
	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 16px;
		}
		.surround {
			height: 20rem;
		}
		.surround {
			height: min-content;
			justify-content: flex-end;
		}
		.menuFirst {
			top: 0%;
			left: 0%;
		}
		.infoblock {
			padding: 1rem;
			left: 20%;
			top: 5%;
			width: 30rem;
		}
	}
}

@media only screen and (max-width: 768px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 25px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
		}
		.innermenu {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 16px;
		}

		.innermenu {
			width: 100%;
		}

		.naver li {
			list-style: none;
		}

		.infoblock span:nth-of-type(4) {
			font-size: 0.65rem;
		}

		#firsty {
			height: 25rem;
		}
	}
}

@media only screen and (max-width: 720px) {
	.wrapper {
		padding-right: 6rem; /* 3 */
		padding-left: 6rem; /* 3 */
	}

	.navigation {
		width: 3rem;
		height: 3rem;
		left: 1rem;
	}

	.naver {
		margin-top: 2rem;
	}
	@media screen and (orientation: landscape) {
		.infoblock {
			width: 30rem;
		}

		.menuFirst {
			height: 100%;
		}
	}
}

@media only screen and (max-width: 695px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 20px;
			font-weight: 1000;
			width: 27%;
			height: 12em;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 14.4px;
			width: 20.5%;
		}

		.surround {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.infoblock {
			padding: 1rem;
			left: 20%;
			top: 0%;
			width: 25rem;
			line-height: 2.4rem;
		}
	}
}
@media only screen and (max-width: 658px) {
	@media screen and (orientation: landscape) {
	}
}

@media only screen and (max-width: 640px) {
	.navigation {
		position: relative;
		left: 1rem;
		top: 0.5rem;
	}

	.boxedIn {
		width: 40%;
	}

	.wrapper {
		margin: 0 auto;
		padding: 0rem;
	}

	.iconwrapper {
		margin-left: 1rem;
	}

	@media screen and (orientation: portrait) {
		.innermenu {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.innermenu {
			width: 100%;
		}

		.naver li {
			list-style: none;
		}

		.infoblock {
			padding: 1rem;
			left: 20%;
			top: 0%;
			width: 25rem;
			line-height: 1.5rem;
		}
		.infoblock span:nth-of-type(1) {
			font-size: 2rem;
		}
		.infoblock span:nth-of-type(2) {
			font-size: 3rem;
		}
	}
}

@media only screen and (max-width: 540px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 20px;
			font-weight: 1000;
			width: 30%;
			height: 12em;
		}

		.innermenu {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 9.6px;
		}

		.innermenu {
			width: 100%;
		}

		.naver li {
			list-style: none;
		}
		.infoblock {
			padding: 1rem;
			left: 15%;
			top: 0%;
			width: 25rem;
			line-height: 1.5rem;
		}

		.infoblock span:nth-of-type(6) {
			margin: 0.3rem;
		}
	}
}

@media only screen and (max-width: 480px) {
	@media screen and (orientation: portrait) {
		.navMenu {
			font-size: 20px;
			font-weight: 1000;
			width: 35%;
			height: 12em;
		}

		.innermenu {
			width: 100%;
		}
	}

	@media screen and (orientation: landscape) {
		.navMenu {
			font-size: 9.6px;
		}

		.innermenu {
			width: 100%;
			height: 100%;
		}

		.naver li {
			list-style: none;
		}

		.infoblock span:nth-of-type(1) {
			font-size: 0.1rem;
		}

		.infoblock span:nth-of-type(6) {
			margin: 0.1rem;
		}
	}
}

@media only screen and (max-width: 400px) {
	.boxedIn {
		width: 50%;
	}

	.stats {
		width: 100%;
	}
}
